# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: 手动部署

on:
  workflow_dispatch:  # 手动触发


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10  # 设置超时时间为 10 分钟，适当增加构建时间
    env:
      SERVER_HOST: ${{ secrets.SERVER_HOST }}     # 服务器 IP
      SERVER_USER: ${{ secrets.SERVER_USER }}     # 服务器用户名
      SERVER_PASS: ${{ secrets.SERVER_PASS }}     # 服务器密码
      IMAGE_NAME: app-test                   # Docker 镜像名称
      TAG: latest                                 # 镜像标签
      DEPLOY_PATH: /usr/local/apps/myApp/ # 部署路径

    steps:
      # 1. 检出代码
      - name: 检出代码
        uses: actions/checkout@v3

      # 2. 设置 Java 环境
      - name: 设置 Java 环境
        uses: actions/setup-java@v3
        with:
          java-version: '8'  # 根据你的项目选择 Java 版本
          distribution: 'temurin'

      # 3. 编译项目
      - name: 编译项目
        run: mvn clean package

      # 4. 上传文件到服务器
      - name: 上传文件到服务器
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.SERVER_HOST }}     # 引用环境变量中的服务器 IP
          username: ${{ env.SERVER_USER }} # 引用环境变量中的服务器用户名
          password: ${{ env.SERVER_PASS }} # 引用环境变量中的服务器密码
          source: "./docker-compose.yml,./Dockerfile,./target/*.jar"
          target: ${{ env.DEPLOY_PATH }}   # 使用环境变量部署路径
          overwrite: true

      # 5. 在服务器上构建镜像并部署
      - name: 在服务器上构建镜像并部署
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ env.SERVER_HOST }}     # 引用环境变量中的服务器 IP
          username: ${{ env.SERVER_USER }} # 引用环境变量中的服务器用户名
          password: ${{ env.SERVER_PASS }} # 引用环境变量中的服务器密码
          script: |
            cd ${{ env.DEPLOY_PATH }}           # 使用环境变量部署路径

            # 构建镜像
            docker build -t ${{ env.IMAGE_NAME }}:${{ env.TAG }} . || { echo "Docker build failed"; exit 1; }

            docker-compose down                  # 停止现有服务
            docker-compose up -d                 # 以守护模式启动服务
            
